@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff; /* Text color */
    /* background-image: url("./img/bg.jpg"); */
    /* background-color: #10402f; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
    background-color: #000;
    position: relative; /* Ensure body is positioned for z-index to work */
}

.backg {
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-image: url(img/lhibg.png);
  position: fixed;
  z-index: -1;
}

.content{
  position: absolute;
  margin-top: 5rem;
  left: 50%; 
  transform: translateX(-50%);
  width: 80%;
  z-index: 2;
}
.consult {
  background-image: url(img/lhilbgs.png); background-color: white;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000; /* Dark color for the overlay */
    opacity: 0; /* Initial opacity */
    z-index: 0; /* Higher z-index to appear on top of the body content */
    pointer-events: none; /* Allow interactions with underlying elements */
}
.overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff; /* Dark color for the overlay */
  opacity: 0; /* Initial opacity */
  z-index: 0; /* Higher z-index to appear on top of the body content */
  pointer-events: none; /* Allow interactions with underlying elements */
}
.absol {
  z-index: 500;
  position: absolute;
  left: 50px;
  top: 50px;
}

#down {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
  }

.responsive {
    font-size:5vw;
}


.lhi { height: 4rem;
  object-fit: cover;}

.right-align {
  margin-right: 1%;
  margin-left: auto;
}

.same-h {
  height: 250px;
}

.same-w {
    width: 700px;
  }

.space1 {
  margin-top: 0px;
}
.space3 { margin: 0px; } 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media only screen and (max-width: 822px) {
    .responsive {
        font-size:6vw;
    }
/* 
  .space3 { margin: 200px; }

  .space1 { margin-top: 120px;}

  .lhi { height: 15rem;
    object-fit: cover;} */

  .same-w {
        width: 100%;
  }
  .center {
    margin-left: 0px;
    width: 100%;
  }
      
}

#rec {
  max-width: 700px;
}


.space { margin-top: 100px; }
.space2 { margin-top: 500px; }


.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
  }

  ::-moz-selection { /* Code for Firefox */
    color: white;
    background: grey;
  }
  
  ::selection {
    color: white;
    background: grey;
  }
  
  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(104, 104, 104);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(56, 56, 56);  /* creates padding around scroll thumb */
  }
